# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store
models/PA_imputation/testing_worst15.csv
models/PA_imputation/testing_worst1.csv
models/PA_imputation/testing_worst10.csv
models/PA_imputation/testing_worst11.csv
models/PA_imputation/testing_worst12.csv
models/PA_imputation/testing_worst13.csv
models/PA_imputation/testing_worst16.csv
models/PA_imputation/testing_worst14.csv
models/PA_imputation/testing_worst18.csv
models/PA_imputation/testing_worst17.csv
models/PA_imputation/testing_worst2.csv
models/PA_imputation/testing_worst19.csv
models/PA_imputation/testing_worst3.csv
models/PA_imputation/testing_worst20.csv
models/PA_imputation/testing_worst5.csv
models/PA_imputation/testing_worst4.csv
models/PA_imputation/testing_worst6.csv
models/PA_imputation/testing_worst8.csv
models/PA_imputation/testing_worst7.csv
models/PA_imputation/training_worst1.csv
models/PA_imputation/testing_worst9.csv
models/PA_imputation/training_worst10.csv
models/PA_imputation/training_worst13.csv
models/PA_imputation/training_worst15.csv
models/PA_imputation/training_worst14.csv
models/PA_imputation/training_worst11.csv
models/PA_imputation/training_worst12.csv
models/PA_imputation/training_worst17.csv
models/PA_imputation/training_worst16.csv
models/PA_imputation/training_worst19.csv
models/PA_imputation/training_worst18.csv
models/PA_imputation/training_worst20.csv
models/PA_imputation/training_worst3.csv
models/PA_imputation/training_worst2.csv
models/PA_imputation/training_worst4.csv
models/PA_imputation/training_worst6.csv
models/PA_imputation/training_worst5.csv
models/PA_imputation/training_worst8.csv
models/PA_imputation/training_worst7.csv
models/PA_imputation/training_worst9.csv
*.png
*.png
notebooks/PIPELINE/config.py
